
#bsmnt{
    height:14rem;
    background: url('src/assets/bsmnt/room2.jpg') no-repeat center center ;
    background-size: cover;
}
#apt1{
    height:14rem;
    background: url('src/assets/1/room1.jpg') no-repeat center center ;
    background-size: cover;
}
#apt2{ 
    height:14rem;
    background: url('src/assets/2/bedroom1.jpg') no-repeat center center ;
    background-size: cover;
}