<div id="main" class="img-fluid shadow-2-strong">
    <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1>Welcome to Gvasquez Estate</h1>   
                <h5>Thank you for your interest to our property located at 123 house st, Hanover Road, IL 60831</h5>
                <h5>Please login or register to submit an application</h5>
                <h5>Feel free to check out the pictures for the property as well</h5> 
            </div>
        </div>
    </div>
</div>